<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú - ChessApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/opcionesColor.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/pConfiguracion.css' %}" />


</head>
<body>

<!-- Script para importar Firebase -->
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-auth-compat.js"></script>


<header class="menu-header">
    <h1>Configuración</h1>
</header>
<div class="accesibilidad" id="accesibilidadOptions">
    <h3>Opciones de Accesibilidad</h3>
    
    <!-- Contenedor para los botones de zoom -->
    <div class="zoom-controls">
        <span>Cambiar Zoom</span>
        <button class="btn" onclick="cambiarTamanoZoom('aumentar')">Aumentar Zoom</button>
        <button class="btn" onclick="cambiarTamanoZoom('disminuir')">Disminuir Zoom</button>
        <button class="btn" onclick="restablecerZoom()">Restablecer Zoom</button>
    </div>
    
    <!-- Botón para el alto contraste en una nueva línea -->
    <div class="contraste-control">
        <span>Activar contraste:</span>
        <button class="btn-accesibilidad" onclick="toggleAltoContraste()">♞ Alto Contraste</button>
    </div>
    <form id="colorConfigForm">
        <label for="colorProfile">Perfil de colores:</label>
        <select id="colorProfile" name="colorProfile" onchange="cambiarColorPerfil()">
            <option value="default">Normal</option>
            <option value="daltonic-protanopia">Protanopía</option>
            <option value="daltonic-deuteranopia">Deuteranopía</option>
            <option value="daltonic-tritanopia">Tritanopía</option>
        </select>
        <button id="guardarPerfil" type="button" onclick="guardarColorConfig()">Guardar</button>
    </form>
    <a class="menu-button" id="menu-button" href="{% url 'menu' %}">Menú</a>
</div>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{% static 'chessapp/js/accesibilidad.js' %}"></script>

</body>
</html>


