<!doctype html>
<html>
<head>
{% load static %}
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-storage-compat.js"></script>


    <script type="text/javascript" src="{% static 'chessapp/js/accesibilidad.js' %}"></script>

    <script type="text/javascript" src="{% static 'chessapp/js/partidas.js' %}"></script>

	<script type="text/javascript" src="{% static 'chessapp/js/xhr.js' %}"></script>
    <script type="text/javascript" src="{% static 'chessapp/js/chess.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/chess.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/gnomechess.css' %}" />
	
	<link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/tablero.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/opcionesColor.css' %}" />


	<link rel="stylesheet" href="{% static 'chessapp/css/styles.css' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>2D/3D Javascript Ajedrez</title>



<script type="text/javascript">
var nVwPressed = false;
function pressVwBtn(nBtnId) {
	if (nVwPressed) { document.getElementById("viewBtn" + nVwPressed).className = ""; }
	document.getElementById("viewBtn" + nBtnId).className = "pressedBtn";
	nVwPressed = nBtnId;
}


function onPGNLoaded(frEvnt) {
	var sFBody = frEvnt.target.result;
	chess.readPGN(sFBody, document.chessCtrl3.plyerClr2[1].checked);
}


function loadPGNFile() {
	var oFile = document.getElementById("PGNFileData").files[0];
	if (oFile) {
		var oFReader = new FileReader();
		oFReader.onload = onPGNLoaded;
		oFReader.readAsText(oFile);
	}
}

function initChess() {
	chess.useAI(document.chessCtrl1.useAI.checked);
	chess.setPromotion(document.chessCtrl1.selPromo.selectedIndex);
	chess.setFrameRate(Math.abs(Number(document.chessCtrl2.frameRateCtrl.value)) || 1000);
	chess.setSide(document.chessCtrl2.selSide.selectedIndex);
	chess.useKeyboard(document.chessCtrl2.KeybCtrl.checked);
	chess.placeById("chessDesk");
	document.chessCtrl1.plyDepthCtrl.value = "0";
	chess.setView(1);
	pressVwBtn(1);
}
</script>


<script type="text/javascript">
    var nVwPressed = false;
    function pressVwBtn(nBtnId) { }
    function onPGNLoaded(frEvnt) { }
    function loadPGNFile() { }
    function initChess() { }
</script>

</head>

   
        


<body onload="initChess();">
	<header>
        <h1 class="page-title">Tablero de Ajedrez</h1>
        <p class="page-subtitle">¡Desafía a la máquina!</p>
    </header>
<div class="btn" id="toggleAccesibilidadBtn"  style="text-align: center; margin: 20px;"> 
	<button id="toggleAccesibilidadBtn" class="btn" onclick="toggleAccesibilidad()">Opciones de Accesibilidad</button>

</div>	
	
	
<div class="accesibilidad" id="accesibilidadOptions" style="visibility: hidden;">
    <h3>Opciones de Accesibilidad</h3>
    <button class="btn" onclick="cambiarTamanoZoom('aumentar')">Aumentar Zoom</button>
    <button class="btn" onclick="cambiarTamanoZoom('disminuir')">Disminuir Zoom</button>
    <button class="btn-accesibilidad" onclick="toggleAltoContraste()">♞ Alto Contraste</button>
	<button class="btn" onclick="toggleAccesibilidad()">Ocultar Opciones de Accesibilidad</button>   
</div>

<script type="text/javascript">
	function initChess() {
		chess.useAI(document.chessCtrl1.useAI.checked);
		chess.setPromotion(document.chessCtrl1.selPromo.selectedIndex);
		chess.setFrameRate(Math.abs(Number(document.chessCtrl2.frameRateCtrl.value)) || 1000);
		chess.setSide(document.chessCtrl2.selSide.selectedIndex);
		chess.useKeyboard(document.chessCtrl2.KeybCtrl.checked);
		chess.placeById("chessDesk");
		chess.setView(1); // Establece vista 2D
	}
	</script>
    <div class="btn-conf" id="btn-conf">
    <button onclick="toggleFormulario()" class="btn" id="btn">Mostrar/Ocultar Configuraciones</button>
    </div>
<form name="chessCtrl1" class="chess-form" onsubmit="return(false);" id="chessConfigForm" style="display: none;">
	<p>Configuraciones de partida</p>
    <div class="form-group">
    <input id="useAIAsk" name="useAI" type="checkbox" onclick="chess.useAI(this.checked);" checked />
       <label for="useAIAsk">Jugar contra la máquina</label>
    </div>

    <div class="form-group">
        <label for="selPromo">Promocionar a:</label>
        <select id="selPromo" name="selPromo" onchange="chess.setPromotion(this.selectedIndex);">
            <option>Dama</option>
            <option>Torre</option>
            <option>Alfil</option>
            <option>Caballo</option>
        </select>
    </div>

    <div class="form-group">
        <input type="button" name="strtBtn" class="btn-new-game" value="Nueva Partida" onclick="chess.organize(this.form.plyerClr1[1].checked);" />
		<a class="btn btn-secondary mx-2" href="{% url 'menu' %}">☰ Menú</a>
    </div>

    <div class="form-group">
        <label for="white1">Humano:</label>
        <input type="radio" name="plyerClr1" id="white1" checked />
        <label for="white1">Blancas</label>
        <input type="radio" name="plyerClr1" id="black1" />
        <label for="black1">Negras</label>
    </div>

    <div class="form-group">
        <label for="plyDepthCtrl">Nivel de juego de la máquina:</label>
        <input type="text" name="plyDepthCtrl" id="plyDepthCtrl" value="0" size="2" onkeypress="if(event.keyCode===13&&chess.setPlyDepth(this.value)){alert('Ply depth setted.' + (Number(this.value) > 2 ? '\nAttention! The game could be very slow.' : ' Good game :)'));}" />
    </div>

    <!--<div class="view-buttons">
        <span class="btn-toolbar" onclick="chess.setView(2);pressVwBtn(2);">3D view</span>
        <span class="btn-toolbar" onclick="chess.setView(1);pressVwBtn(1);">2D view</span>
        <span class="btn-toolbar" onclick="chess.setView(3);pressVwBtn(3);">Both</span>
    </div>-->
    <form name="chessCtrl1" class="chess-form" onsubmit="return(false);" id="chessConfigForm" style="display: none;">
    
</form>
<form>
<div class="toolbar toolbar-icons">
    <img src="{% static 'chessapp/icons/skip-backward.png' %}" title="Retroceder al inicio" onclick="chess.backToStart();" />
    <img src="{% static 'chessapp/icons/backward.png' %}" title="Retroceder 10 movimientos" onclick="chess.navigate(-10, true);" />
    <img src="{% static 'chessapp/icons/reverse-play.png' %}" title="Retroceder 1 movimiento" onclick="chess.navigate(-1, true);" />
    <img src="{% static 'chessapp/icons/stop.png' %}" title="Detener movimiento" onclick="chess.stopMotion();" />
    <img src="{% static 'chessapp/icons/play.png' %}" title="Avanzar 1 movimiento" onclick="chess.navigate(1, true);" />
    <img src="{% static 'chessapp/icons/forward.png' %}" title="Avanzar 10 movimientos" onclick="chess.navigate(10, true);" />
    <img src="{% static 'chessapp/icons/skip-forward.png' %}" title="Avanzar al final" onclick="chess.returnToEnd();" />
    <img src="{% static 'chessapp/icons/go-previous.png' %}" title="Retroceder 1 movimiento" onclick="chess.navigate(-1);" />
    <img src="{% static 'chessapp/icons/go-next.png' %}" title="Avanzar 1 movimiento" onclick="chess.navigate(1);" />
    <img src="{% static 'chessapp/icons/help-hint.png' %}" title="Ayuda" onclick="chess.help();" />
</div>
</form>

<div id="chessDesk"></div>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		if (typeof chess !== 'undefined' && chess.placeById) {
			chess.placeById("chessDesk");
		} else {
			console.error("Chess object or placeById method is not defined.");
		}
	});
</script>

<form name="chessCtrl2" onsubmit="return(false);" class="chess-form_1">
    <div>
        <span>Ver lado:</span>
        <select onchange="chess.setSide(this.selectedIndex);" name="selSide">
            <option>Blanco</option>
            <option>Negro</option>
            <option selected>Lado humano</option>
        </select>
    </div>
    <div>
        <label for="useKeybAsk">Habilitar teclado</label>
		<input id="useKeybAsk" name="KeybCtrl" type="checkbox" onclick="chess.useKeyboard(this.checked);" checked />
    </div>
    <div>
        <span>Tasa de fotogramas en movimiento:</span>
        <input type="text" name="frameRateCtrl" value="1000" size="5" onchange="var nMs=new Number(this.value);if(!isNaN(nMs)&&nMs>0){chess.setFrameRate(nMs);}" /> ms
    </div>
</form>


<hr />


<form name="chessCtrl3" onsubmit="return(false);" class="chess-form_1">
    <table id="pgnTable">
        <tbody>
            <h3 style="text-align:center;">Lector de notación de juego portátil</h3>
            <tr>
                <td colspan="2" style="text-align:center;">Humano juega en lado: 
                    <input type="radio" name="plyerClr2" id="white2" checked /> 
                    <label for="white2">Blanco</label> 
                    <input type="radio" name="plyerClr2" id="black2" /> 
                    <label for="black2">Negro</label>
                </td>
            </tr>
            <tr>
                <td>Selecciona un archivo PGN (solo Firefox):</td>
                <td>
                    <input type="file" id="PGNFileData" /> 
                    <a href="#" onclick="loadPGNFile(); return(false);" class="btn-toolbar">Cargar</a>
                </td>
            </tr>
            <tr>
                <td>o pega el contenido de tu archivo PGN aquí:</td>
                <td>
                    <textarea rows="10" cols="50" id="PGNBodyArea"></textarea> 
                    <a href="#" onclick="chess.readPGN(document.getElementById('PGNBodyArea').value,document.chessCtrl3.plyerClr2[1].checked);return(false);" class="btn-toolbar">Cargar</a><br />
                    (puedes intentar con <a href="sample.pgn">este</a> archivo PGN de ejemplo)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">Guardar partida en firestore: 
                    <input type="file" id="pgnFileInput" accept=".pgn">
                </td>
            </tr>
        </tbody>
    </table>
</form>

<!--
<hr />
<h3 style="text-align:center;">Running code within the "chess" object.</h3>
<p style="text-align:center;">Please uncomment the function chess.runInside(<em>sCode</em>) to execute your code.<br />
<textarea rows="10" cols="55" id="debugArea" onkeyup="if(event.ctrlKey&&event.shiftKey&&event.keyCode===32){chess.runInside(this.value);}">
/**
* Javascript Console.
* Press Ctrl+Shift+Space to run code
* within the "chess" object.
*/

var sRappr = "";
for (nBoardX = 0; nBoardX &lt; 12; nBoardX++) {
	var nBoardY = 0;
	for (nBoardY = 0; nBoardY &lt; 10; nBoardY++) { sRappr += (etc.aBoard[nBoardX * 10 + nBoardY]) + ", "; }
	sRappr = sRappr.substr(0, sRappr.length - 2) + "\n";
}
alert("This is the numeric rappresentation of the chessboard:\n\n" + sRappr); 
</textarea></p>
-->
</body>
</html>



