{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - ChessApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'chessApp/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chessApp/css/pLogin.css' %}">
    
    
</head>
<body>

    <!-- Script para importar Firebase -->
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-auth-compat.js"></script>
<script type="text/javascript" src="{% static 'chessapp/js/funciones.js' %}"></script>
<div class="container">
    <div class="form-container">
        <h2 class="text-center">Iniciar Sesión</h2>
        <form onsubmit="event.preventDefault(); login();">
            <input type="email" id="email" placeholder="Email" class="form-control" required>
            <input type="password" id="password" placeholder="Contraseña" class="form-control" required>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <div>
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
            </div>
        </form>
        <p class="text-center">No tienes cuenta? <a href="{% url 'signin' %}" style="color: #007bff;">Registrarse</a></p>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'home' %}'">Inicio</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

