
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Archivos Subidos</title>
    
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-storage-compat.js"></script>
    <script type="text/javascript" src="{% static 'chessapp/accesibilidad.js' %}"></script>


    
</head>

<body>

    <style>
        body {
            background-image: url("{% static 'chessapp/images/ajedrez_fondo.jpg' %}");
            background-size: cover;
            color: white;
        }
    </style>
    
    <div class="partida-card" id="archivosContainer">
        <h1>Mis Partidas Guardadas</h1>
        <!-- Ejemplo de una partida guardada -->
        <div class="archivo-item">
            <h3>Partida 1</h3>
            <p><strong>Fecha:</strong> 2024-11-13</p>
            <p><strong>Resultado:</strong> Victoria</p>
        </div>
        
    </div>

    
</body>
</html>

