<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/opcionesColor.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/pPerfil.css' %}" />
    <link rel="stylesheet" href="{% static 'chessapp/css/reproductor.css' %}">




    <!-- Scripts de Firebase -->
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-storage-compat.js"></script>
    <script type="text/javascript" src="{% static 'chessapp/js/accesibilidad.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'chessapp/css/styles.css' %}">

    <title>Perfil de Usuario</title>



</head>

<body>
    <link type="text/css" rel="stylesheet" href="{% static 'chessapp/css/tablero.css' %}" />

    
    <div class="container profile-name">
        <h1>Perfil de Usuario</h1>
        <form id="usernameForm">
            <label for="usernameInput">Nombre de usuario:</label>
            <input type="text" id="usernameInput" placeholder="Ingresa tu nombre de usuario">
            <button type="submit">Guardar</button>
        </form>
        
    </div>
    <div class="btn" id="toggleAccesibilidadBtn"  style="text-align: center; margin: 20px;"> 
        <button id="toggleAccesibilidadBtn" class="btn" onclick="toggleAccesibilidad()">Opciones de Accesibilidad</button>
    
    </div>	
        
        
    <div class="accesibilidad" id="accesibilidadOptions" style="visibility: hidden;">
        <h3>Opciones de Accesibilidad</h3>
        <button class="btn" onclick="cambiarTamanoZoom('aumentar')">Aumentar Zoom</button>
        <button class="btn" onclick="cambiarTamanoZoom('disminuir')">Disminuir Zoom</button>
        <button class="btn-accesibilidad" onclick="toggleAltoContraste()">♞ Alto Contraste</button>
        <button class="btn" onclick="toggleAccesibilidad()">Ocultar Opciones de Accesibilidad</button>   
    </div>

    <div class="container profile-container">
        <div class="card">
            <div class="profile-header">
                <p><strong> <span id="displayName"></span></strong></p> 
                <p><strong>Ranking: n/a</strong></p> 
                <p><strong>Cantidad de partidas jugadas:</strong> <span id="totalGames"></span></p>
            </div>
            <div class="profile-details">
                <h2>Información del Perfil</h2>
                <p><strong>Email:</strong> <span id="userEmail"></span></p>
                <p><strong>Fecha de registro:</strong> <span id="registrationDate"></span></p>
                <p><strong>Última partida jugada:</strong> <span id="lastGame"></span></p>
            </div>


    <div class="container mt-5">
        <h2>Mis Partidas</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Descargar</th>
                    <th>Nombre del Archivo</th>
                    <th>Fecha</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody id="misPartidasContainer">
                <tr><td colspan="4">Cargando archivos...</td></tr>
            </tbody>
        </table>

    </div><a class="menu-button" id="menu-button"  href="{% url 'menu' %}">Menú</a>

     <!-- Reproductor de musica -->
            <!-- Reproductor de música de fondo -->
            <audio id="background-music" src="{% static 'chessapp/audio/MusicaJugarAjedrez.mp3' %}" loop></audio>
    
            <!-- Controles de música -->
            <div id="music-controls">
                <button id="toggle-music">🎵 Iniciar Música</button>
                <label for="volume-control">Volumen:</label>
                <input type="range" id="volume-control" min="0" max="1" step="0.1" value="0.5">
            </div>


</div>

</div>

<script type="text/javascript" src="{% static 'chessapp/js/reproductor.js' %}"></script>
<script type="text/javascript" src="{% static 'chessapp/js/perfil.js' %}"></script>

</body>
</html>
