<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'chessapp/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chessapp/css/pSignin.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Registro</title>
    
</head>
<body>

<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-auth-compat.js"></script>
<script type="text/javascript" src="{% static 'chessapp/js/funciones.js' %}"></script>


<header>
    <h1>Registro</h1>
</header>

<div class="form-container">
    <form onsubmit="event.preventDefault(); register();">
        <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required>
        <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required>
        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'home' %}'">Inicio</button>
    </form>
</div>

</body>
</html>



